* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    box-sizing: border-box;
    font-style: normal;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

#app{
    height: 100vh;
    overflow-x: hidden;
    background: url(../image/app_bg.png) top  center  no-repeat;
    background-size:cover auto;
    background-color: #FF4D4D;
}

#app .app_head{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 0.24rem;
}

.app_head_img{
    width: 2.62rem;
    height: 0.94rem;
}

.app_head_img img{
    width: 100%;
    height: 100%;
 }

 .box1 {
     margin-top: 0.24rem;
 }


.box1 .bounced_main .content_main {
    width: 3rem;
    background: #FFFFFF;
    border-radius: 0.12rem;
    margin: 0 auto;
    margin-bottom: 0.16rem;
    position: relative;
}

.box1 .bounced_main .content_title {
    width: 1.32rem;
    height: 0.42rem;;
    text-align: center;
    line-height: 0.42rem;
    background: url('../image/box1_hred.png') center center  no-repeat;;
    background-size: 96% auto;
    color: #4E0A0A;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);

}

.box1 .bounced_main .content {
    padding: 0.22rem 0.12rem;
    overflow: hidden;
    
}

.box1 .bounced_main .content p {
    margin-bottom: 0.05rem;
    line-height: 0.18rem;
    color: #333333;
}

.ts_title{
    white-space: nowrap;
}


/* box2 */

.box2  .bounced_main .content_main {
    width: 3rem;
    background: #FFFFFF;
    border-radius: 0.12rem;
    margin: 0 auto;
    overflow: hidden;
}

.box2  .content_title {
    height: 0.48rem;
    text-align: center;
    line-height: 0.48rem;
    background: url('../image/jingka.png')  center  no-repeat;;
    background-size: 42% auto;
    color: #4E0A0A;
    font-weight: bold;
    background-color: #FFD514;
    border-radius: 0.12rem 0.12rem 0 0;
}

.box2  .content {
    padding: 0.24rem 0.24rem 0 0.24rem;
}

/* 原本的 */

/* .spread_box{
    width:100%;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    position: relative;
    z-index: 999;
    border-bottom-left-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
}

.box2 .content_main .spread{
    width: 0.64rem;
    height: 0.24rem;
    background-color: #FF4D4D;
    border-radius: 0.12rem; 
    color: white;
    text-align: center;
    line-height: 0.05rem;
    margin-bottom: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.88rem;
} */


.spread_box{
    width:100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -0.76rem;
}

.show_img {
    width:100%;
    height: 0.54rem;
    border-bottom-left-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fffbfb 40%);

}

.box2 .content_main .spread{
    width: 0.64rem;
    height: 0.24rem;
    background-color: #FF4D4D;
    border-radius: 0.12rem; 
    color: white;
    text-align: center;
    line-height: 0.05rem;
    margin-bottom: -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 .content_main .spread .top_img{
    width: 0.14rem; 
    -webkit-animation: shaking 1s infinite; 
    animation: shaking 1s infinite; 
}

@keyframes shaking {

    0% {
        transform: translateY(-0.01rem);
    }
    50% {
        transform: translateY(0.01rem);
    }
    100% {
        transform: translateY(-0.01rem);
    }
}

.box2 .content_main .spread .top_img img{
    width: 100%;
    height: 100%;
}

.all_img_box{
   width: 2.54rem; 
}

.all_img_box img{
    width: 100%;
    height: auto;
   
}

.box2  .content p {
    margin-bottom: 0.12rem;
    line-height: 0.2rem;
    color: #333333;
}

/* box3 */
.box3  .bounced_main .content_main {
    width: 3rem;
    background: #FFFFFF;
    border-radius: 0.12rem;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 0.24rem;
    margin-bottom: 0.3rem;
    
}

.box3  .content_title {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

}

.box3  .content_title .tab{
   width: 3.27rem;
   padding: 0.08rem 0.16rem;

}


/* 切换使用 */
.tab_left{
    height: initial;
    background: url('../image/letf_imgbg.png') center  no-repeat;
    background-size: cover ;
}

.tab_right{
    height: initial;
    background: url('../image/right_imgbg.png') center  no-repeat;
    background-size: cover;
}

.content_main .text-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 0.16rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
}



.content_main .text-name,
.text-Mobile,
.text-identity {
    width: 2.64rem;
    background: #FFFFFF;
    border-bottom: 0.01rem solid #EDEDED;

}

.clear_boder{
    border-bottom: none;
}

.content_main .text-name input {
    width: 2.79rem;
    height: 0.48rem;
    background: #FFFFFF;
    padding-left: 0.12rem;
    outline: none;
    border: none;
}


.inputs:first-child{
    margin-top: 0.16rem;
}

.inputs .input_title{
    display: flex;
    align-items:flex-start;
    color: #333333;
}

.inputs:not(:first-child) {
    margin-top: 0.16rem;
}

.inputs .input_title .input_titlexin{
    color: red;
    margin-right: 0.02rem;
}


.content_main .text-Mobile input {
    width: 2.79rem;
    height: 0.48rem;
    background: #FFFFFF;
    padding-left: 0.12rem;
    outline: none;
    border: none;
}

.content_main .text-identity input {
    background: #FFFFFF;
    padding-left: 0.12rem;
    outline: none;
    border: none;
    height: 0.54rem;

}

.content_main .submit {
    width: 2.79rem;
    height: .48rem;
    background: #FF4040;
    border-radius: 0.08rem;
    font-size: 0.16rem;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    line-height: 0.48rem;
    margin-top: 0.24rem;
}


/* 上传图片样式 */


.card {
    position: relative;
    width: 0.64rem;
    height: 0.64rem;
    padding: 0.05rem;
    margin-right: 0.20rem;
    border: 0.01rem dashed #d9d9d9;
    border-radius: 0.06rem;
    margin: 0.08rem 0.1rem;
    overflow: hidden;
}

#upload{
    width: 0.64rem;
    height: 0.64rem;
}

.card input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    padding: 144rem;
}



.card .view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .view #icon {
    display: inline-block;
    color: #DDDDDD ;
}

.card .view  .img-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
}




.img-container .img-mask {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .3);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;

    
}

.img-container:hover .img-mask {
    opacity: 1;
}

.img-mask span {
    color: #fff;
    margin: 0 0.1rem;
    cursor: pointer;
    position: absolute;
    right: -0.1rem;
}

.img-mask span img{
    width: 0.18rem;
    height: 0.18rem;
}


/* 查看 */
/* modal 样式 */
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    box-shadow: 0 0 0.10rem #d9d9d9;
    background: rgba(0, 0, 0, .3);
    /* transition: all .1s ease-in-out; */
    overflow: hidden;
}

#modal .content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.45rem 0.2rem 0.2rem;
    display: flex;
    justify-content: center;
}

#modal #modalImg {
    height: 100%;
}

#modal #closeIcon {
    position: absolute;
    top: 0.01rem;
    right: 0.01rem;
    cursor: pointer;
}

.tab_hide{
    display: none !important;
}


.tip{
    width: 2.5rem;
    height: 0.4rem;
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 15152;
    transform: translate(-50%,-5%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 0.08rem;
    display: none;
    
}



/* loading */


.loading{
    width: 1rem;
    height: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5555;
    background:rgba(0, 0, 0, 0.5);
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.12rem;
}

#loading_M{
    display: none;
}


.ball-clip-rotate>div {
    background-color: #fff;
    width: 0.46rem;
    height: 0.46rem;
    border-radius: 100%;
    margin: 0.02rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0.02rem solid #fff;
    border-bottom-color: transparent;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);

    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
